.title {
    color: rgb(184, 96, 96);
    position: absolute;
    left: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para{
    line-height: 20px;
}
div{
    height: 90px;
    width: 50%;
}
.tab{
    margin-bottom: 30px;
    margin-top: 30px;
}
 .titre{
    text-align: center;
    
}
h4{
    display: inline;
}